.book-wrap {
  width: 100%;
  padding: 0.5em;

  font-family: District-Medium, Helvetica; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 15px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.book-search {
  padding-top: 20px;
}
.under-selector {
  padding-left: 15px;
}
.post-button {
  padding-top: 20px;
}
.book-wrap.book-wrap-half {
  width: 40%;
  float: left;
}
.book-tags {
}
.book-wrap.book-wrap-one-third {
  width: 33.3%;
  float: left;
}
.book-wrap.book-wrap-two-third {
  width: 66.6%;
  float: left;
}
.book-wrap input.large-text, .book-wrap textarea.large-text {
  width: 100%;
}
.edit-link {
  float: right;
}
#book-select-thumbnail-img {
  display: block;
  margin: 0 auto;
}
#book-select-description[readonly] {
  background-color: #eee;
}